#indexPage {
    font-family: Source Han Sans SC;
    /* padding: 0 0 20px; */
    /* background: #fff; */
    border-radius: 10px 10px 0px 0px;
}

.shopro-screen-container {
    padding-top: 16px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
}

.shopro-table-container {
    background: #fff;
    margin-top: 10px;
    padding: 20px 20px 30px;
}

.shopro-reset-button {
    margin-right: 20px;
    width: 78px;
    height: 32px;
    color: #888;
    background: #ffffff;
    border: 1px solid #999999;
}

.title {
    height: 58px;
    line-height: 58px;
    font-weight: 600;
    font-size: 13px;
}

.btn-common {
    width: 80px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.btn-box {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.create-btn {
    background: #7536D0;
    color: #fff;
    width: 100px;
    height: 32px;
    line-height: 32px;
}

.operation-status {
    color: #7438D5;
    margin-right: 14px;
    cursor: pointer;
}

.table-header-bgcolor th {
    background-color: #f9f9f9 !important;
    padding: 8px 0;
}

.table-header-bgcolor th .cell {
    font-weight: 400;
    color: #444;
}

/* 搜索 筛选 */
.screen-con {
    display: flex;
}

.header-input-item {
    margin-right: 30px;
    margin-bottom: 14px;
    width: 242px;
}

.header-input-item .header-input-tip {
    margin-right: 14px;
}

.header-input-item .el-input {
    width: 176px;
}

.multiple-set-acitve-1,
.multiple-set-acitve-2,
.multiple-set-acitve-3 {
    cursor: pointer;
    margin-right: 14px;
}

.multiple-set-acitve .multiple-set-acitve-1 {
    color: #60CC9E;
}

.multiple-set-acitve .multiple-set-acitve-2 {
    color: #ED655F;
}

.multiple-set-acitve .multiple-set-acitve-3 {
    color: #7438D5
}

.shopro-pagination-container .shopro-edit-text {
    color: inherit;
}
.shopro-pagination-container {
    padding: 30px 20px 0;
    display: flex;
    justify-content: flex-end;
}
.shopro-refresh-button {
    width: 32px;
    height: 32px;
    border: 1px solid #e6e6e6;
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
    margin-right: 20px;
}

.el-checkbox__inner:focus {
    border: none;
    outline: none;
}

.el-table--border th:first-child .cell {
    padding-left: 5px;
}

.activity-type {
    justify-content: space-around;
    width: 90px;
}

.activity-type-btn {
    width: 40px;
    height: 20px;
    padding-top: 2px;
    border-radius: 4px;
    color: #fff;
    justify-content: center;
}

.seckill-btn {
    background: #FFF4F3;
    border: 1px solid #FECAC4;
    color: #FE9488;
}

.groupon-btn {
    background: #F1EDFA;
    border: 1px solid #CEBEEC;
    color: #9C7EDA;
}

.score-btn {
    background: #FDF5E8;
    border: 1px solid #F8DCAE;
    color: #F2BA5E;
}

.really-status-tip {
    margin-right: 10px;
    color: #444;
    font-size: 12px;
    width: 50px;
}

.really-status-icon {
    font-size: 20px;
    color: #7C7C7C;
    margin-right: 16px;
}

.el-popover--plain {
    padding: 12px;
    color: #444;
}

.nice-validator .el-input__inner {
    vertical-align: baseline !important;
}

.active-cursor-line {
    color: #7438D5;
    cursor: pointer;
}

[v-cloak] {
    display: none
}

// 后加
.shopro-button {
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display-flex {
    display: flex;
    align-items: center;
}
.shopro-screen-container .shopro-screen-item {
    margin-right: 30px;
    margin-bottom: 20px;
}

.shopro-screen-container .shopro-screen-item:last-of-type {
    margin-right: 0px;
}
.shopro-screen-tip {
    margin-right: 14px;
    font-size: 14px;
    color: 333333;
    width: 80px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.shopro-screen-container .shopro-screen-condition {
    width: 176px;
}
.shopro-screen-item-button {
    margin-bottom: 20px;
}

.shopro-button-size {
    width: 78px;
    height: 32px;
}
.shopro-screen-button {
    background: #409eff;
    color: #fff;
  }
.ellipsis-item {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.shopro-screen-item-vague .shopro-screen-condition {
    width: 282px;
}

.shopro-screen-item-vague .el-select {
    width: 140px;
}