#commodity {
  margin: 0 auto;
  display: flex;
  background-color: #ffffff;
  width: 100%;
}
.commodity-classification {
  min-width: 240px;
  max-height: 500px;
  overflow-y: auto;
}
.commodity-content {
  box-sizing: border-box;
  width: 100%;
  min-width: 540px;
  border-left: 1px solid #e6e6e6;
  padding: 10px;
}
.search {
  display: flex;
}
.search-input {
  margin-right: 10px;
}

.commodity-table {
  background-color: #f9f9f9;
}
.level{
  margin-top: 10px;
}


.shopro-flexh{
  margin-bottom: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.shopro-pagination-container {
  width: 500px;
}
.shopro-submit-container {
  width: 100px;
  padding: 0 16px;
  bottom: 0px;
  right: 16px;
  background-color: #ffffff;
}
.shopro-submit-button {
  margin-top: 20px;
  width: 66px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 5px;
}

.shopro-screen-button {
  background: #409eff;
  color: #fff;
}