@font-face {
  font-family: "iconfont"; /* Project id 2265480 */
  src: url('iconfont.woff2?t=1667794425187') format('woff2'),
       url('iconfont.woff?t=1667794425187') format('woff'),
       url('iconfont.ttf?t=1667794425187') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hideinvisiblehidden:before {
  content: "\e9cf";
}

.icon-move-down:before {
  content: "\e748";
}

.icon-move-up:before {
  content: "\e749";
}

.icon-tree:before {
  content: "\e68a";
}

.icon-question:before {
  content: "\e6e7";
}

.icon-weike:before {
  content: "\e603";
}

.icon-manth-charts:before {
  content: "\e965";
}

.icon-components:before {
  content: "\e64f";
}

.icon-text:before {
  content: "\e659";
}

.icon-chexiao:before {
  content: "\e62a";
}

.icon-cz:before {
  content: "\e600";
}

.icon-save:before {
  content: "\e601";
}

