#pageDetail {
    min-width: 600px;
    background: #fff;
    overflow: auto;
    color: #666;
    margin-right: 10px;
}
// shopro-button shopro-screen-button
//////////////////////////////////////////////////
/// 原文件的公共样式
.display-flex {
    display: flex;
    align-items: center;
}
.display-flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dialog-footer {
    padding: 10px;
    height: 46px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
.dialog-cancel-btn {
    width: 88px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.cursor-pointer {
    cursor: pointer;
}
.shopro-button {
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopro-reset-button {
    width: 78px;
    height: 32px;
    color: #888;
    background: #ffffff;
    border: 1px solid #999999;
}
.shopro-screen-button {
    margin-left: 20px;
    width: 78px;
    height: 32px;
    background: #409eff;
    color: #fff;
}
//////////////////////////////////////////////////

.msg-tip {
    min-width: 310px;
    margin-left: 30px;
    color: #999;
}

.select-goods {
    width: 146px;
    height: 50px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
    margin-bottom: 10px;
}

.select-goods-selected {
    border-color: #7438D5;
}

.select-goods-img {
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

.select-goods div {
    padding: 0 8px;
    line-height: 14px;
    -webkit-line-clamp: 2;
    font-size: 12px;
}

.delete-goods {
    position: absolute;
    width: 16px;
    height: 16px;
    top: -8px;
    right: -8px;

}

.label-auto {
    width: 16px;
    height: 16px;
}

.modify-text {
    margin-right: 14px;
}

[v-cloak] {
    display: none
}