#decorateApp {
  font-family: Source Han Sans SC;
  background: #fff;
  height: calc(100vh - 63px);
  padding: 0 20px;
  overflow: hidden;
}

.component-item {
  /* padding-top: 30px; */
  background: #fff;
  margin: 0 0 5px;
  padding: 0px 10px 0;
  /* border-radius: 10px; */
}

.component-item-special {
  margin: 0 0 5px;
  border-radius: 0px;
}

.component-item-search {
  margin: 0;
  border-radius: 0px;
  height: 50px;
  padding: 9px 10px;
}

.component-item-list {
  background: #eee;
}

.selected {
  border: 1px solid #f66161;
}

/* .form-horizontal .form-group {
  margin: 0;
} */

.btn-common {
  width: 74px;
  height: 30px;
  line-height: 28px;
  background: #EEEAF7;
  border: 1px solid #B092E1;
  border-radius: 4px;
  color: #804ED1;
  font-size: 12px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

.margin-left-20 {
  margin-left: 20px;
}



.app-web::-webkit-scrollbar {
  width: 0px
}

.decorate-left::-webkit-scrollbar {
  width: 0px
}

.decorate-title {
  height: 66px;
  display: flex;
  justify-content: space-between;

  align-items: center;
  color: #444;
}

.title-msg {
  font-style: 14px;
  font-weight: 600;
}

.title-btn {
  display: flex;
  align-items: center;
}

.title-btn-1,
.title-btn-2,
.title-btn-3 {
  width: 88px;
  height: 32px;
  line-height: 30px;
}

.title-btn-2 {
  margin: 0 30px;
}

.title-btn-3 {
  background: #804ED1;
  color: #fff;
}

.decorate-body {
  height: calc(100vh - 129px);
  display: flex;
}


.decorate-left {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  flex-shrink: 0;
}

.decorate-left>div {
  margin-bottom: 14px;
}

.decorate-left>div:last-child {
  margin-bottom: 0px;
}

.center-body {
  flex: 1;
  background: #F2F2F6;
  display: flex;
  justify-content: center;
  margin: 0 16px;
  border-radius: 10px 10px 0px 0px;
  padding: 40px 0 64px;
  position: relative;
}

.decorate-body-buttom {
  position: absolute;
  bottom: 0;
  height: 54px;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px -6px 4px 0px rgba(25, 25, 25, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

// .decorate-body-buttom-item {
//   margin-right: 10px;
//   border: 1px solid #E6E6E6;
//   color: #999;
//   background: #fff;
// }

// .decorate-body-buttom-item:last-child {
//   margin: 0;
// }

// .decorate-body-buttom-item-active {
//   color: #fff;
//   background: #804ED1;
// }

.decorate-center-container::-webkit-scrollbar {
  width: 0px
}

.decorate-center-container {
  width: 375px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  background: #f6f6f6;
  position: relative;
}

.decorate-left-con {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #eee;
  padding-left: 8px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.decorate-left-con:nth-child(3n) {
  margin-right: 0;
}


.drog-title {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}

.decorate-link {
  text-align: center;
  border-radius: 0;
  color: #444444;
  font-size: 12px;
  padding: 10px 0 10px;
  float: left;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 75px;
  height: 75px;
  margin: 8px 8px 8px 0px;
  border: 1px solid #eee;
  background: #F7F7FA;
  border-radius: 4px;
}

.decorate-link>img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.decorate-right {
  height: calc(100vh - 129px);
  overflow: auto;
  overflow-x: hidden;
}

.decorate-right-header {
  padding: 8px 10px;
  font-size: 12px;
}

.decorate-right-header img {
  width: 34px;
  height: 34px;
  margin-right: 18px;

}

.decorate-right-header-title {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(51, 51, 51, 1);
  line-height: 34px;
}

.decorate-right-write {
  margin: 10px;
}

.decorate-right-write .select-img {
  width: 78px;
  height: 38px;
}

.decorate-right-write .select-imgzheng {
  width: 38px;
  height: 38px;
}

.select-style-con {
  background: #F7F7FA;
  border: 1px solid #eee;
  color: #999;
  position: relative;
  padding: 12px 92px 48px;
  border-radius: 4px;
}

.select-style-con>img {
  width: 100%;
  height: 100%;
}

.select-style-item {
  margin: 16px 0;
  padding-bottom: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #444;
}

.select-style-item-title,
.select-style-item-box {
  padding-left: 15px;
}

.select-style-item-title {
  background: #EFEFEF;
  height: 40px;
  margin: 0;
  line-height: 40px;
}

.select-style-item-box {
  height: 38px;
  margin-top: 10px;
}

.select-style-item-tip {
  line-height: 38px;
}

.select-style-item-select {
  line-height: 38px;
  height: 38px;
  display: flex;
  align-items: center;
}

.tip-line {
  line-height: 30px;
}

.input-select-inline {
  display: flex;
  align-items: center;
}

.input-select-inline .el-input {
  width: 80%;
}

.input-select-inline .el-input__inner {
  border-radius: 4px 0px 0px 4px;
  border-right: 0;
}

.input-select-inline .input-select-btn {
  width: 50px;
  height: 30px;
  line-height: 26px;
  background: #7536D0;
  border-radius: 0px 4px 4px 0px;
  color: #fff;
}

.radio-tip,
.item-radio-group,
.search-tip {
  height: 30px;
  line-height: 30px;

}

.el-radio {
  line-height: 30px;
}

.box-radio {
  margin-bottom: -16px;
}

.el-radio__input.is-checked .el-radio__inner {
  background: #804ED1;
  border-color: #804ED1;
}

.el-radio__input.is-checked+.el-radio__label {
  color: #804ED1;
}

.detele-item {
  text-align: right;
  padding-right: 16px;
  font-size: 12px;
  color: #888888;
}

.detele-item span {
  cursor: pointer;
}

.chooseAdvPic {
  height: 38px;
  background: #EEEAF7;
  width: 100%;
  border: none;
  color: #804ED1;
  font-size: 16px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0px 4px 4px 0px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
}

.item {
  text-align: center;
  position: relative;

}

.item img {
  width: 100%;
  height: 100%;
}

.item-close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  line-height: 20px;
  text-align: center;
  /* background: #f00; */
  z-index: 200;
}

.item-close I {
  color: #f66161;
  font-size: 20px;
}

.banner-add-btn {
  border: 1px dashed #6b7685;
  line-height: 32px;
  height: 32px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.right-container-iframe {
  display: flex;
  justify-content: center;
}

#preview {
  border: none;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 26px;
}

.right-container {
  background: #fff;
  height: calc(100vh - 130px);
  width: 350px;
}

.board-item {
  position: relative;
}

.hide-item {
  display: none;
}

.sortable-ghost {
  height: 50px;
  overflow: hidden;
}

.sortable-ghost .hide-item {
  height: 50px;
  z-index: 1000;
  position: absolute;
  background: #fff;
  width: 100%;
  line-height: 50px;
  text-align: center;
  color: #2589ff;
  display: block;
}

.hide-item-left {
  position: absolute;
  z-index: 1000;
  height: 70px;
  background: #f00;
  left: 0;
  top: 0;
  display: none;
}

.el-dialog {
  width: 700px;
  height: 740px;
  border-radius: 10px;
}

.el-dialog__header {
  border-radius: 10px 10px 0 0;
}

.el-dialog__body {
  padding: 50px 40px 50px 75px;
}

.preview-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.web-preview {
  height: 594px;
  width: 300px;
  background: url('/assets/addons/shopro/img/decorate/preview_bg.png');
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-preview {
  width: 200px;
  height: 594px;
  padding: 28px 0;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}

.template-title {
  font-size: 18px;
  color: #444;
  margin-bottom: 14px;
}

.template-company {
  color: #999;
  font-size: 12px;
}

.template-copyright {
  color: #999;
  font-size: 12px;
  margin-bottom: 14px;
}

.template-platform {
  color: #FF5306;
  font-size: 14px;
  display: flex;
}

.template-platform img {
  margin-right: 5px;
}

.wechart-code {
  margin-top: 34px;
}

.code-title {
  margin-top: 18px;
  font-size: 12px;
  color: #999;
}

.code-item {
  width: 132px;
  height: 132px;
}

.code-item-img {
  width: 100%;
  height: 100%;
}

/* 底部导航 */
.select-color {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #eee;
}

.el-color-picker__color-inner {
  border-radius: 0 5px 5px 0;
  border: 1px solid #C0C4CC;
}

.select-color .el-input__inner,
.el-color-picker__trigger,
.el-color-picker__color {
  border: none;
}

.el-color-picker__trigger {
  padding: 0;
}

.el-radio {
  margin-right: 12px;
}

.tabbar-body-item {
  bottom: 0px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fff;
}

/* 标题栏 */
.select-style-block {
  padding-bottom: 0px;
}

.title-block-body {
  background: #F6F6F6;
}

.title-block-title {
  position: absolute;
  left: 50%;
  top: 5px;
  margin-left: -40px;
  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-style: 14px;
}

.title-block-style {
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
}

.title-block-btn {
  /* width: 338px; */
  height: 42px;
  line-height: 42px;
  border-radius: 0px 0px 6px 6px;
  background: #EEEAF7;
  font-style: 16px;
  color: #804ED1;
  text-align: center;
  cursor: pointer;
}

.nav-bg {
  width: 100%;
  height: 58px;
  position: relative;
}

.el-drawer .rtl {
  width: 338px;
}

.one-ellipsis {
  display: block;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#float-button {
  position: absolute;
  bottom: 50px;
  right: 25px;
}

.gg {
  margin-top: -10000px !important;
  z-index: -1000 !important;
}

.el-dialog__title {
  font-size: 16px;
}

.el-dialog__headerbtn .el-dialog__close {
  font-size: 18px;
}

.el-dialog__headerbtn .el-dialog__close:hover {
  color: #7438D5;
}

/* 轮播图 */
.el-carousel__button {
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

/* adv */
.adv-box {
  width: auto;
  height: 160px;
}

.adv-item-updown {
  flex-direction: column;
}

.leftright {
  display: flex;
}

.leftright>div {
  width: 50%;
}

.adv-1,
.adv-2,
.adv-3,
.adv-4,
.adv-5,
.adv-6,
.adv-7 {
  height: 100%;
  /* width: 100%; */
}

.adv-2,
.adv-3,
.adv-4,
.adv-7-item {
  display: flex;
}

.adv-2-item,
.adv-3-item,
.adv-4-item {
  width: 50%;
}

.adv-3-item .height-50,
.adv-4-item .height-50 {
  height: 50%;
}

.adv-5-item,
.adv-6-item,
.adv-7-item {
  height: 50%;
}

.adv-7-item-top>div {
  width: 50%;
}

.adv-7-item-bottom>div {
  width: 33.3%;
}

.order-card-box,
.wallet-card-box {
  width: auto;
}

/* 商品 */
.goods-list-box {
  display: flex;
  flex-wrap: wrap;
}

.goods-list-item {
  border-radius: 10px;
  background: #fff;
  margin-bottom: 5px;
}

.goods-list-img {
  background-color: #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.goods-list-tit {
  font-size: 12px;
  font-family: PingFang SC;
  font-weight: 500;
  line-height: 18px;
  height: 36px;
  margin: 10px 10px 5px;
  text-align: left;
}

.goods-list-subtitle {
  text-align: left;
  width: 100%;
  line-height: 28px;
  background: #f6f2ea;
  font-size: 11px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #a8700d;
  padding: 0 10px;
}

.ellipsis-more {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.goods-list-price {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.goods-price {
  color: #e1212b
}

.goods-sales {
  color: #999;
}

/* menu */
.menu-box {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 16px;
}

.menu-box-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0;
}

/* 优惠券 */
.coupons-container {
  background: #fff;
  padding-bottom: 10px;
}

.compotent-coupons1-item {
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-mask: url('/assets/addons/shopro/img/decorate/coupon_bg1.png') no-repeat;
  mask: url('/assets/addons/shopro/img/decorate/coupon_bg1.png') no-repeat;
  -webkit-mask-size: 350px 84px;
  mask-size: 350px 84px;
  padding: 0 20px;
  text-align: left;
  margin: 0 12px;
  position: relative;
}

.coupons-amount {
  font-size: 27px;
  font-weight: 700;
  line-height: 27px;
}

.coupons-enough {
  font-size: 11px;
  margin-top: 3px;
  text-align: left;
}

.coupons-time {
  font-size: 11px;
  margin-top: 5px;
  text-align: left;
}

.coupons-get {
  width: 71px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  background: #fff;
  border-radius: 13px;
  padding: 0;
  font-size: 12px;
  font-family: PingFang SC;
  font-weight: 500;
}

.coupons-stock {
  font-size: 11px;
  font-family: PingFang SC;
  font-weight: 500;
  margin-top: 7px;
  text-align: center;
}

/* 拼团,秒杀 */
.activity-box {
  overflow: hidden;
}

.activity-header {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  padding: 0 10px;
}

.activity-header-tip {
  color: #333;
  font-size: 16px;
  font-weight: 700;
}

.activity-more {
  font-size: 14px;
  padding-left: 15px;
  color: #666;
}

.activity-body {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.activity-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.activity-item-img {
  width: 76px;
  position: relative;
  height: 76px;
}

.team_num {
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: 2;
  line-height: 17px;
  background: -webkit-linear-gradient(318deg, #f3dfb1, #f3dfb1, #ecbe60);
  background: linear-gradient(132deg, #f3dfb1, #f3dfb1, #ecbe60);
  border-radius: 0 9px 9px 0;
  padding: 0 5px;
  font-size: 12px;
  font-family: PingFang SC;
  font-weight: 700;
  color: #784f06;
}

.activity-price {
  font-size: 15px;
  font-weight: 500;
  color: #e1212b;
}

.activity-originalprice {
  font-size: 10px;
  font-weight: 400;
  text-decoration: line-through;
  color: #999;
}

/* 小程序 */
.live-box {
  /* height: 192px; */
  height: 220px;
}

.live-body {
  display: flex;
  align-items: center;
}

.live-item:nth-child(2n-1) {
  margin-right: 10px;
}

.non-existent {
  width: 100%;
  color: #f00;
}

.el-image {
  width: 100%;
  height: 100%;
}

.el-image__error {
  font-size: 12px;
  width: 100%;
  height: 100%;
}


.image-slot {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.decorate-center-container-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.decorate-center-container-scrollbar::-webkit-scrollbar-thumb {
  width: 6px;
  background: #ccc;
  height: 20px;
  border-radius: 3px;
}

.center-body .el-row {
  width: 100%;
  /* margin: 0 !important; */
}

.image-border {
  border: 1px solid #e6e6e6;
}

#popupContainer .image-slot {
  font-size: 40px;
  color: #999;
}

#float-button-box .image-slot {
  font-size: 16px;
}

.home-custom {
  height: calc(100% - 65px);
}

.compotent-grid-list-item-tip {
  height: 12px;
  line-height: 12px;
}

.el-carousel__indicators--horizontal {
  display: none;
}

[v-cloak] {
  display: none
}

.left-menu-title {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #333333;
  line-height: 44px;
  height: 44px;
  background: #F7F7FA;
  padding-left: 16px;
  box-sizing: border-box;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.left-menu-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 8px 8px;
  border: 1px solid #eee;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.left-menu-container-item {
  box-sizing: border-box;
  text-align: center;
  color: #444444;
  font-size: 12px;
  padding: 10px 0 10px;
  cursor: pointer;
  width: 75px;
  height: 75px;
  margin: 8px 8px 0px 0px;
  border: 1px solid #eee;
  background: #F7F7FA;
  border-radius: 4px;
}

.left-menu-container-item img {
  width: 30px;
  height: 30px;
}

.center-body .left-menu-container-item {
  width: 100%;
}

.compotent-item-container {
  position: relative;
}

.compotent-item-container-item {
  background: #fff;
}

.compotent-item-container-item-padding {
  padding: 10px;
}

.compotent-item-container-item-margin {
  margin-bottom: 5px;
}

.compotent-search {
  width: auto;
  height: 32px;
  background: #f5f5f5;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compotent-search i {
  margin-right: 10px;
}

/* adv */
.display-flex {
  display: flex;
}

.adv-width-100 {
  width: 100%;
}

.adv-height-100 {
  height: 100%;
}

.adv-width-50 {
  width: 50%;
}

.adv-height-50 {
  height: 50%;
}

.adv-width-33 {
  width: 33.3%;
}

.adv-line-right {
  border-right: 8px solid #F6F6F6;
}

.adv-line-bottom {
  border-bottom: 8px solid #F6F6F6;
}

.compotent-adv {
  padding: 0 12px;
}

.compotent-adv .el-image {
  overflow: hidden;
  border-radius: 5px;
}

.compotent-adv-1 {
  height: 110px;
}

.compotent-adv-2 {
  height: 110px;
  display: flex;
}

.compotent-adv-2>div:first-child {
  border-right: 4px solid #F6F6F6;
}

.compotent-adv-2>div:last-child {
  border-left: 4px solid #F6F6F6;
}

.compotent-adv-3,
.compotent-adv-4 {
  height: 184px;
  display: flex;
}

.compotent-adv-5,
.compotent-adv-6,
.compotent-adv-7 {
  height: 184px;
}

/* nav-list-box */

.compotent-nav-list-item {
  height: 50px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #f3f3f3;
}

.compotent-nav-list-item-left {
  display: flex;
  align-items: center;
  /* width: 42px; */
  height: 42px;
  flex: 1;
}

.compotent-nav-list-item .compotent-nav-list-item-image {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

/* compotent-grid-list-item */
.compotent-grid-list-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 16px;
  min-height: 72px;
}

.compotent-grid-list-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0;
  height: 58px;
}

.compotent-grid-list-item-image {
  width: 44px;
  height: 44px;
  margin-bottom: 14px;
}

/* rich-text */
.compotent-rich-text {
  min-height: 50px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* compotent-title-block-container */

.compotent-title-block-container {
  position: relative;
}

.compotent-title-block-title {
  position: absolute;
  left: 50%;
  top: 5px;
  margin-left: -40px;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.sortable-ghost {
  background: #fff;
  border-radius: 10px;
}

.seat-item {
  display: none;
}

.sortable-ghost .seat-item {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  background: #EEEAF7;
}

.sortable-ghost .compotent-item-container {
  display: none;
}

.clone-item {
  /* color: #ff0; */
}

.dragin-item {
  background: #ff0;
}

.menu-item-tip {
  margin-top: 8px;
}

/* .onerow-compotent-activity-container {
  width: 100%;
}

.onerow-compotent-activity-list {
  width: 100%;
  height: 120px;
  background: #FFFFFF;
  margin-bottom: 10px;
  display: flex;
  text-align: left;
  padding: 10px 0;
  border-bottom: 1px solid #DFDFDF;
}

.onerow-compotent-activity-list:last-child {
  border: none;
  margin-bottom: 0;
} */

.onerow-compotent-seckill-list {
  height: 130px;
}

.compotent-goods-list-seckill {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.compotent-goods-list-progress {
  width: 106px;
  margin-right: 10px;
}

.compotent-goods-list-progress .el-progress-bar {
  padding-right: 0;
}

/* .compotent-goods-list-rate {
  line-height: 1;
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  transform: scale(0.83);
} */

.onerow-seckill-message {
  align-items: flex-start;
}

.onerow-goods-message {
  margin-top: 20px;
}

.ellipsis-item {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.compotent-item-header {
  position: absolute;
  top: 38px;
  z-index: 100;
  width: 100%;
  padding: 0 12px;
}

.header-name {
  align-items: center;
  width: 100%;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 600;
  color: #fff;
  position: absolute;
  z-index: 10;
  top: 30px;
  padding: 0 12px;
}

.header-input {
  width: 33px;
  height: 33px;
  background: rgba(255, 255, 255, 0.17);
  border: 1px solid rgba(255, 255, 255, 0.17);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-compotent-image {
  width: 49px;
  height: 49px;
  /* border-radius: 50%; */
  overflow: hidden;
}

.compotent-goods-list-container {
  flex: 1;
  padding-right: 12px;
}

.compotent-goods-list-2-container {
  flex: 1;
}

.compotent-goods-list-1-container {
  padding: 0 12px;
  text-align: left;
}

.compotent-goods-list-1 {
  background: #fff;
  margin-bottom: 6px;
  border-radius: 10px;
  overflow: hidden;
  background-size: 170px 120px;
  background-repeat: no-repeat;
  background-position: left bottom;
  height: calc(100% - 6px);
}

.compotent-goods-list-1-seckill {
  background-image: url('/assets/addons/shopro/img/decorate/seckill-card11.png');
}

.compotent-goods-list-1-groupon {
  background-image: url('/assets/addons/shopro/img/decorate/groupon-card11.png');
}

.compotent-goods-list-1-image {
  width: 100%;
  height: 172px;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.compotent-goods-list-1-message {
  padding: 0 8px 12px;
  line-height: 1;
  position: relative;
}

.compotent-goods-list-1-groupon .compotent-goods-list-1-message {
  background-color: linear-gradient(0deg, #FFC39B 0%, #FFFFFF 100%);
}

.compotent-goods-list-1-groupon .compotent-goods-list-1-message {
  background-color: linear-gradient(0deg, #FFC39B 0%, #FFFFFF 100%);
}

.compotent-goods-list-1-title {
  margin-top: 8px;
  font-size: 13px;
  font-weight: bold;
  color: #333333;
}

.compotent-goods-list-1-subtitle {
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  margin-top: 10px;
}

.compotent-discounts-tags {
  padding: 2px 0px;
  border: 1px solid #FF0000;
  color: #FF0000;
  border-radius: 4px;
  position: relative;
  margin-right: 4px;
  display: inline-block;
  margin-top: 8px;
  line-height: 1;
}

.compotent-discounts-tags span {
  transform: scale(0.83);
  font-size: 10px;
  display: inline-block;
}

.compotent-discounts-tags:last-child {
  margin-right: 0px;
}

/* .compotent-discounts-tags::before {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  border-right: 1px solid #f00;
  border-radius: 50%;
  z-index: 0;
  top: 6px;
  left: -5px;
  background: #fff;
}

.compotent-discounts-tags::after {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  border-left: 1px solid #f00;
  border-radius: 50%;
  z-index: 0;
  top: 6px;
  right: -5px;
  background: #fff;
} */

.compotent-goods-list-1-price {
  font-size: 14px;
  font-weight: 500;
  color: #FF3000;
  margin-top: 12px;
}

.compotent-goods-list-1-sales {
  font-size: 12px;
  transform: scale(0.83);
  display: inline-block;
  font-weight: 500;
  text-decoration: line-through;
  color: #C4C4C4;
  margin-top: 9px;
  margin-left: -2px;
}

.compotent-goods-list {
  width: 100%;
  height: 130px;
  background: #FFFFFF;
  box-shadow: 0px 7px 8px 1px rgba(254, 76, 29, 0.05);
  border-radius: 10px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.compotent-goods-list-image {
  width: 110px;
  height: 110px;
  border-radius: 5px;
  margin-right: 10px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.compotent-goods-list-image-label {
  position: absolute;
  top: 5px;
  left: 0;
  width: 42px;
  height: 18px;
  line-height: 18px;
  background: linear-gradient(132deg, #FF995D, #FF6361);
  border-radius: 0px 9px 9px 0px;
  padding-left: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
}

.compotent-goods-list-right {
  flex: 1;
  text-align: left;
}

.compotent-goods-list-title {
  /* width: 180px; */
  line-height: 18px;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin: 3px 0 10px 0;
}

.compotent-goods-list-title-tags {
  width: 30px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 2px;
  font-weight: 500;
  color: #FFFFFF;
  margin-right: 4px;
  display: inline-block;
}

.compotent-goods-list-title-tags span {
  display: inline-block;
  font-size: 12px;
  transform: scale(0.83);
}

.compotent-goods-list-title-tags.compotent-seckill-title-tags {
  background: linear-gradient(90deg, #FF5854 0%, #FF2621 100%);
}

.compotent-goods-list-title-tags.compotent-groupon-title-tags {
  background: linear-gradient(90deg, #FE832A 0%, #FF6600 100%);
}

.compotent-goods-list-subtitle {
  line-height: 1;
  font-size: 12px;
  font-weight: 500;
  color: #666;
  margin-bottom: 10px;
}

.compotent-goods-list-team {
  display: flex;
  align-items: center;
}

.compotent-goods-list-team .compotent-goods-list-fire {
  width: 10px;
  height: 12px;
  margin-right: 6px;
}

.compotent-goods-list-teamed {
  width: fit-content;
  height: 16px;
  line-height: 16px;
  background: #F9EFD6;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 400;
  color: #FF6904;
  transform: scale(0.83);
  padding: 0 10px 0 5px;
  margin-left: -5px;
  display: flex;
  align-items: center;
}

.compotent-goods-list-team_num {
  line-height: 1;
  font-size: 10px;
  font-weight: 500;
  color: #999999;
  transform: scale(0.83);
}

.compotent-goods-list-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.compotent-goods-list-price-container {
  display: flex;
  align-items: flex-end;
}

.compotent-goods-list-price {
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  color: #f00;
  margin-right: 10px;
}

.compotent-goods-list-originalprice {
  font-size: 12px;
  font-weight: 400;
  text-decoration: line-through;
  color: #C4C4C4;
  line-height: 1;
}

.compotent-goods-list-button {
  width: 60px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background: linear-gradient(90deg, #E9B461, #EECC89);
  border-radius: 15px;
  font-size: 12px;
  font-weight: 500;
  color: #FFFFFF;
}

.compotent-goods-list-button-seckill {
  background: linear-gradient(90deg, #D01325, #ED3C30);
}

.compotent-goods-list-button-groupon {
  background: linear-gradient(90deg, #FF6600 0%, #FE832A 100%);
}

.compotent-activity-header {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  color: #333333;
  background-size: 265px 30px;
  background-repeat: no-repeat;
  background-position: left top;
}

.compotent-activity-seckill .compotent-activity-header {
  background-image: url('/assets/addons/shopro/img/decorate/seckill-title.png');
}

.compotent-activity-groupon .compotent-activity-header {
  background-image: url('/assets/addons/shopro/img/decorate/groupon-title.png');
}

.compotent-activity-header-title {
  font-weight: 600;
  font-size: 16px;
}

.compotent-activity-header-more {
  font-weight: 600;
  font-size: 12px;
}

.compotent-activity-header-more-icon {
  font-size: 12px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  background: #333;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  margin-left: 5px;
}

.compotent-activity-container {
  display: flex;
  padding-left: 12px;
  overflow: hidden;
  padding-bottom: 6px;
}

.compotent-activity-item {
  text-align: left;
  width: 110px;
  margin-right: 7px;
  border-radius: 5px;
  background-size: 110px 77px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #fff;
}

.compotent-activity-seckill .compotent-activity-item {
  box-shadow: 0px 3px 4px 0px rgba(255, 80, 94, 0.32);
  background-image: url('/assets/addons/shopro/img/decorate/seckill-card1.png');
}

.compotent-activity-groupon .compotent-activity-item {
  // box-shadow: 0px 3px 4px 1px rgb(162 117 27 / 24%);
  background-image: url('/assets/addons/shopro/img/decorate/groupon-card1.png');
}

.compotent-activity-item-image {
  width: 110px;
  height: 104px;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}

.compotent-activity-item-message {
  padding: 0 9px;
  padding-top: 8px;
  line-height: 1;
}

.compotent-activity-item-title {
  font-size: 13px;
  color: #000000;
  margin-bottom: 10px;
}

.compotent-activity-item-price {
  font-size: 14px;
  color: #FF0000;
  margin-bottom: 8px;
}

.compotent-activity-item-originalprice {
  color: #C4C4C4;
  margin-bottom: 14px;
}

.compotent-activity-item-originalprice span {
  font-size: 12px;
  display: inline-block;
  transform: scale(0.83);
  text-decoration: line-through;
}

.compotent-activity-item-pin {
  color: #E9B461;
  margin-bottom: 14px;
}

.compotent-activity-item-pin span {
  font-size: 12px;
  display: inline-block;
  transform: scale(0.83);
}

.compotent-activity-seckill {
  background: linear-gradient(180deg, #FFEBEC 0%, #FFFFFF 100%);
}

.compotent-activity-groupon {
  background: linear-gradient(180deg, #FAECCA 0%, #FFFFFF 100%);
}

.compotent-goods-list-2-groupon {
  background-image: url('/assets/addons/shopro/img/decorate/groupon-card2.png');
  background-size: 355px 130px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.compotent-goods-list-2-seckill {
  background-image: url('/assets/addons/shopro/img/decorate/seckill-card2.png');
  background-size: 355px 130px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.el-progress__text {
  display: none;
}

.compotent-category-tabs {
  overflow: hidden;
}

.compotent-category-tabs-item {
  padding: 10px 12px 15px;
  color: #333;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compotent-category-tabs-dis {
  margin-top: 5px;
  padding: 0 5px;
  height: 16px;
  border-radius: 8px;
  line-height: 16px;
}

.compotent-category-tabs-dis span {
  display: inline-block;
  font-size: 12px;
  transform: scale(0.83);
}

.compotent-coupons2-container {
  padding: 0 12px;
}

.compotent-coupons2-item {
  width: calc(50% - 4px);
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-image: url('/assets/addons/shopro/img/decorate/coupon_bg2.png'); */
  /* background-position: left center;
  background-size: 171px 84px;
  background-repeat: no-repeat; */
  -webkit-mask: url('/assets/addons/shopro/img/decorate/coupon_bg2.png') no-repeat;
  mask: url('/assets/addons/shopro/img/decorate/coupon_bg2.png') no-repeat;
  -webkit-mask-size: 171px 84px;
  mask-size: 171px 84px;

  padding: 0 10px 0 20px;
  text-align: left;
  margin-right: 8px;
  position: relative;
}

.compotent-coupons2-item:last-child {
  margin-right: 0;
}

.compotent-coupons2-item-left .coupons-amount {
  font-size: 16px;
}

.compotent-coupons2-item-left .coupons-enough {
  font-size: 11px;
}

.compotent-coupons2-item-left .coupons-stock {
  margin: 0;
  font-size: 11px;
}

.compotent-coupons2-item-right {
  writing-mode: tb-rl;
  font-size: 12px;
}

.compotent-nodata-tip {
  height: 100px;
  line-height: 100px;
}

.compotent-goods-list-1-cart {
  width: 27px;
  height: 27px;
  background: linear-gradient(90deg, #E9B461, #EECC89);
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compotent-goods-list-1-cart img {
  width: 15px;
  height: 14px;
}

.compotent-banner {
  background: rgba(238, 238, 238, 1);
}

.compotent-adv .compotent-adv-image {
  background: #fff;
  overflow: hidden;
  border-radius: 5px;
}

.el-slider__bar {
  background-color: #804ED1;
}

.el-slider__button {
  border-color: #804ED1;
}

.delete-compotent {
  margin-left: 40px;
  color: #f66161;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 1000;
  padding: 3px 3px 0 0
}

.custom-name {
  height: 44px;
  line-height: 44px;
  background: #fff;
  text-align: center;
}

.compotent-empty {
  position: absolute;
  top: 62px;
  height: calc(100% - 62px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compotent-empty img {
  width: 69px;
  height: 63px;
}

.el-color-dropdown__value {
  width: 100px;
}

.tabber-popper {
  width: 152px !important;
}

.tabber-popper-icon {
  float: right;
  font-size: 18px;
  color: #ccc;
  margin-top: 8px;
  margin-right: 20px;
}

.draggable-handle-move {
  margin-right: 20px;
  width: 16px;
  height: 16px;
  cursor: move;
}